<nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse">
        <div class="navbar-nav">
          <a class="nav-link active" style="color: #f5e2da;" aria-current="page" href="/pages/employee">Employee</a>
        </div>
      </div>
    </div>
    <img class="img-custom me-3" src="assets/images/amaris-logo.svg" alt="logo">
</nav>
<router-outlet></router-outlet>
